<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

    <connectionStrings>
      
        <add name="smallcenterConnectionString" connectionString="Data Source=HOMEPC\SQLEXPRESS;Initial Catalog=smallcenter;Integrated Security=True"
            providerName="System.Data.SqlClient" />
      <add name ="Excel03ConString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source={0};Extended Properties='Excel 8.0;HDR={1}'"/>
      <add name ="Excel07ConString" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source={0};Extended Properties='Excel 8.0;HDR={1}'"/>
      <add name ="SqlConString" connectionString="Data Source=esupport;Initial Catalog=ECRMIslam;User ID=sa;Password=1234;Connect Timeout =600"/>

    </connectionStrings>
    <system.web>
      <httpRuntime maxRequestLength="15360" executionTimeout="6000"/>
        <compilation debug="true" targetFramework="4.0" />
    </system.web>

</configuration>
